@page
@model ContactManager.Pages.Opponents.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this pair?</h3>
<div>
    <form method="post">
        <input type="hidden" asp-for="OpponentEntry.OpponentEntryID" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a class="btn btn-xs btn-dark" asp-page="/YourWorld">Back to Your World</a>
    </form>
</div>
