@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Multiverse of Fandoms</h1>
</div>
<div class="row">
    <div class="image-container">
        <img class="main-image" id="home-main-image" src="img/fandoms.png">
    </div>
</div>
<div class="text-center">
    <h3>DISCOVER & ENRICH THE MULTIVERSE OF FANDOMS!</h3>
    <p class="main-text">Create new fandoms, teams and characters, or add new members to existing ones
    <br />- good wandering & get lost in the many worlds of imagination!</p>
</div>
<div class="row">
    <div class="image-container">
        <a class="btn btn-lg btn-dark" asp-page="/Universes/Index">START WANDERING</a>
    </div>
</div>
